body {
    color: #666666;
    font-size: 20px;
    font-family: Raleway;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
div {
    background-color: #C0DCF1;
    font-size: 16px;
}
